@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=wsap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: inherit;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    background: none;
    font-size: 100%;
} 


body {
    background-image: url(../img/dvoichnyj_kod_kod_tsifry_147523_3840x2160.jpg);
    display: flexbox;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    background: #2c774400;
    padding: 25px 20px;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border-radius: 0 10px 10px 0;
    border: 1px groove #2c7744;
}

.sidebar .sidebar-header span {
    color: #dbd4d4e3;
}

.sidebar .sidebar-header h2 {
    opacity: 0;
}

.sidebar:hover .sidebar-header h2 {
    opacity: 1;
}

.sidebar h4 span {
    opacity: 0;
}

.sidebar:hover {
    width: 260px;
    background: #2c7744;
}

.sidebar:hover .sidebar-links h4 span {
    opacity: 1;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header h2 {
    font-size: 1.25rem;
     font-weight: 600;
     color: white;
     margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #dbd4d4e3;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links h4 {
    color: white;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links li a {
    color: #dbd4d4e3;
    font-weight: 500;
    display: flex;
    text-align: center;
    gap: 0 20px;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
}


.sidebar-links li a:hover {
    background: #ffffff2d;
    color: white;
    border-radius: 4px;
}